@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400&display=swap");

/* FLATICON */
@import url("https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css");
@import url("https://cdn-uicons.flaticon.com/uicons-brands/css/uicons-brands.css");

:root {
  --color-1: #0a161f;
  --color-2: #326d9a;
  --color-2-dim: #253847;
  --color-3: #f6ae28;
  --color-4: #f0e4f1;
  --color-5: #7e6e7e;
  --color-6: #93adc8;
  --color-7: #846267;
  --color-8: rgba(124, 126, 218, 0.1);
}

*,
*::after,
*::before {
  /* cursor: none; */
  box-sizing: border-box;
}

html,
body {
  margin: 0px;
  height: 100%;
  width: 100%;
  position: relative;
  font-family: "Lora", serif;
}

body {
  display: flex;
  flex-direction: column;
  background-color: var(--color-1);
}

h1 {
  font-size: 4rem;
  margin: 0px;
  color: var(--color-4);
  display: flex;
  align-items: flex-end;
  gap: 10px;
  transition: all 500ms ease;
}
h2 {
  font-size: 3rem;
  margin: 0px;
  color: var(--color-4);
  display: flex;
  align-items: flex-end;
  gap: 10px;
  transition: all 500ms ease;
}

h3 {
  font-size: 2rem;
  margin: 0px;
  color: var(--color-4);
  display: flex;
  align-items: flex-end;
  gap: 10px;
  transition: all 500ms ease;
}

h4 {
  color: var(--color-5);
  font-family: "Nunito Sans", sans-serif;
}

p {
  color: var(--color-5);
}

nav {
  font-family: "Nunito Sans", sans-serif;
  display: flex;
  width: 100%;
  background-color: var(--color-1);
  border-bottom: solid 1px var(--color-2-dim);
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.nav-cont {
  padding: 2rem 3rem;
  gap: 1rem;
  border-left: solid 1px var(--color-2-dim);
  display: flex;
  justify-content: space-evenly;
}

.nav-logo {
  justify-content: flex-start;
}

.logo {
  max-width: 20px;
}

.nav-logo,
.nav-links {
  flex-basis: calc(100% / 3);
}

.nav-socials,
.nav-contact {
  flex-grow: 1;
}

a {
  text-decoration: none;
  font-size: 1rem;
  color: var(--color-2);
}

a:hover {
  color: var(--color-3);
}

main {
  flex-grow: 1;
}
main > article {
  display: grid;
  height: 100%;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 2fr 1fr;
  overflow: hidden;
}
.article-section {
  height: 100%;
}
.article-description-section,
.article-nav-section {
  border-left: solid 1px var(--color-2-dim);
}
.article-title-section,
.article-nav-section {
  border-top: solid 1px var(--color-2-dim);
}

.article-img-section {
  background-image: url("./assets/myself1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
}

.article-description-section {
  padding: 2rem;
}

.article-nav-section {
  padding: 2rem;
}

.interactable:hover > h1,
.interactable:hover > h2,
.interactable:hover > h3 {
  translate: 20px;
  gap: 40px;
  transition: all 500ms ease;
}

.interactable:hover {
  background-color: #141e27;
}

.article-title-section {
  display: flex;
  justify-content: flex-start;
}

.article-title-item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  border-left: solid 1px var(--color-2-dim);
  transition: all 500ms ease;
}
.article-title-item:hover {
  flex-grow: 2;
  background-color: var(--color-1);
}

.container {
  margin: 3rem;
}

.about-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80vh;
  margin-bottom: 3rem;
  padding-inline: 2rem;
  position: relative;
  overflow: hidden;
  border: solid 1px var(--color-2-dim);
}

.about-header::before {
  content: "";
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  opacity: 50%;
  position: absolute;
  border-radius: 50%;
  filter: contrast(160%) brightness(100%) blur(4rem);
  background: radial-gradient(
      800px circle at var(--mouse-x) var(--mouse-y),
      rgba(142, 225, 192, 1),
      rgba(124, 126, 218, 0.49),
      transparent 50%
    ),
    url("data:image/svg+xml,%3Csvg viewBox='0 0 110 110' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='8.22' numOctaves='5' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='10%25' height='10%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
}

.about-body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(1fr 2fr);
  row-gap: 4rem;
  column-gap: 4rem;
}

.about-body-element {
  display: flex;
  flex-direction: column;
}

.about-img {
  grid-row: span 2;
}

.work-experience-grid {
  display: flex;
  gap: 2rem;
}

.card {
  max-height: max-content;
  min-width: 240px;
  padding: 2rem;
  border-radius: 8px;
  background-color: var(--color-8);
}

.tool-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.fill {
  grid-column: span 2;
}

.tool-element {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.about-img > img {
  max-width: 100%;
  height: 100%;
  clip-path: circle(40% at 50% 50%);
  object-fit: cover;
}

.sans {
  font-family: "Nunito Sans", sans-serif;
  color: var(--color-3);
  letter-spacing: 3px;
}

.tag {
  border: solid 1px var(--color-3);
  border-radius: 20px;
  padding: 10px;
  max-width: max-content;
  font-size: 0.5rem;
}

.bottom-navigation {
  display: flex;
  justify-content: center;
  width: 100%;
}

.bottom-navigation-element {
  width: 100%;
  border: solid 1px var(--color-2-dim);
  padding: 2rem;
}

button {
  font-family: "Nunito Sans", sans-serif;
  padding: 1rem;
  background: none;
  border: solid 1px var(--color-2-dim);
  border-radius: 8px;
  color: var(--color-2);
}

button:hover {
  background-color: var(--color-2-dim);
  color: var(--color-3);
}

.content-container {
  width: 100%;
  overflow: hidden;
}

.content-container > img,
.content-container > video {
  width: 100%;
}

.project-element {
  display: grid;
  grid-template-columns: 2fr 1fr;
  width: 100%;
  gap: 1rem;
  padding: 2rem;
  border: solid 1px var(--color-2-dim);
  display: none;
}
.project-navigator {
  margin: 2rem;
  display: flex;
  gap: 1rem;
}

.active {
  display: grid;
}

[data-button] {
  cursor: pointer;
  z-index: 4;
}
.project-img {
  max-height: 200px;
  overflow: hidden;
}

.project-img > img {
  width: 100%;
  object-fit: contain;
}

.project-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* ----------------------- CURSOR------------------ */
.cursor {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: white;
  color: black;
  mix-blend-mode: difference;

  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 10000;

  pointer-events: none;
  opacity: 0;
  transition: opacity 400ms ease;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
}

body:hover > .cursor {
  opacity: 1;
}
